:root{
    --color:#1482F0;
    --color2:#845CE3;
    --logo:url('https://img.paggy.com.br/logo.png?w=300');
    --mini:url('https://img.paggy.com.br/mini.png?w=200');
    --banner:url('https://img.paggy.com.br/banner.jpg?w=800');
    --none:url('https://img.paggy.com.br/none.png?w=800');
}